/* HEADER & NAVBAR */

.navbar-brand {
    margin-top: 15px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
footer {
    background-color: #eee5ed;
    padding: 25px;
}

.imgLogo {
    width: 10rem;
}

.nav-item.m-1 {
    text-align: -webkit-right;
    padding: 2rem;
    list-style-type: none;
}

.navbar.navbar-inverse {
    background-color: #eee5ed;
    border-color: #eee5ed !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #8b8b8b;
}

/* BODY */

.alert-success {
    color: #ffffff;
    background-color: rgba(40, 182, 44, 0.5);
    border-color: rgba(36, 164, 40, 0.31);
    }

.content {
    min-height: -webkit-fill-available;
    height: 100%;           
}

.btn {
    margin: 5px
}

.form-control.w-25 {
    margin: 5px;
}

.bigTitre{
    display:flex;
    justify-content: center;
}
.card-img-top {
    max-width: 15vw;
    max-height: 7vw;
}

.cameras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.card.border-light.text-center.w-25.m-4 {
    padding: 10px;
    box-shadow: 0 11px 37px -13px #555;
    width: 50rem;
}
.text-center {
    text-align: center;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    margin-bottom: 5rem;
}
body{
    background-color: #F2F3FA;
    min-height: 100%;
}

.ZoneConfirmation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 30% 3% 30%;    
}
.d-flex.flex-row {
    display: inline-flex;
}

.form-control.d-inline.w-25.ml-3 {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    margin-bottom: 6px;
}

.alert.alert-success {
    text-align: center;
}
.card-title{
    text-align: center;
}

.camera.d-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

#basket {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card.border-light.m-4.text-center {
    padding: 20px;
}

/* FOOTER */

.text-center.text-lg-start.bg-light.text-muted {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    }

/* Annimations */

#ConfirmAjoutPanier {
    visibility: hidden; /* Hidden by default. Visible quand on clic */
    min-width: 250px;  
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px;  
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%;  
    bottom: 30px;  
  }
  
  #ConfirmAjoutPanier.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  
  /* Animations */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
